* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #add8e6;
}

.containerheader {
    padding-top: 16px;
    padding-bottom: 16px;
    
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    background-color: #daa520;
    padding: 5px;
    border: 1px dashed black;
}

.logo {
    border-right: 1px dashed black;
    width: 25%;
}

.link {
    width: 50%;
    text-align: center;
}

.login {
    border-left: 1px dashed black;
    width: 25%;
    text-align: end;
}

.blue {
    background-color: #00008b;
    padding: 50px 0px 50px 0px; 

}

.pink {
    min-height: 400px;
    max-width: 905px;
    margin: 0 auto;
    background-color: #ee82ee;
}

.firstcontainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 50px 0px 50px 0px;
}

.lightblue {
    min-height: 500px;
    background-color: #1e90ff;
    width: 60%;
    
}

.lightpink {
    min-height: 500px;
    background-color: #ffc0cb;
    width: 40%;
}